/* POLICE */ 

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('Raleway/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Raleway/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Raleway/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Raleway/fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('Raleway/fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Raleway/fonts/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: bold;
  font-weight: 600;
  src: url('Raleway/raleway-v19-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Raleway/raleway-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Raleway/raleway-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('Raleway/raleway-v19-latin-600.woff') format('woff'), /* Modern Browsers */
       url('Raleway/raleway-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Raleway/raleway-v19-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}


/* GLOBAL */

.main-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0.5% 2.5%;
}

body {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  font-size: 14px;
}

.bg-grey {
  background-color:#F2F2F2;
}

img {
  width: 100%;
}

/* TYPO */

p {
  font-size: 1em;
  margin: 0 0 10px;
}

h1 {
  font-family:'Raleway';
  font-size: 1.4em;
  margin: 0.5em 0;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  margin: 0.5em 0;
  font-weight: bold;
}

h3 {
    font-size: 1.15em;
    margin: 0.5em 0;
    font-weight: bold;
}

h4 {
  font-size: 1.1em;
  margin: 0.5em 0;
  font-weight: bold;
}

h5 {
  font-size: 1.05em;
  margin: 0.5em 0;
  font-weight: bold;
}

/* FLEXBOX */

.d-flex {
  display: flex;
}

.row {
  flex-flow: row wrap;
}

.column {
  flex-flow: column wrap;
}

.space-between {
  justify-content: space-between;
}

/* COL SIZE*/

.l-col-4 {
  width: 29.5%;
 }

.l-col-3 {
  width: 23%;
}

/* HEADER */

.search-bar input[type=submit]:hover {
  background-color:#2179fc;
}

.main-header {
  margin: 0 auto;
  max-width: 1440px;
  padding-right: 3%;
  padding-left: 3%;
}

.item a {
  padding: 35px 25px 20px 25px;
  text-decoration: none;
  color: #8b8b8b;
  display: block;
  box-sizing: border-box;
  border-top: 2px solid transparent;
}

.item a:hover ,.item a:active {
  border-top: 2px solid #0065FC;
  font-weight: inherit;
  color: #0065FC;
}

.item:nth-child(3) a{
  font-weight: bold;
  color: #0065FC;
}

/* SEARCH BAR*/

.search-filters a {
  color: black;
  text-decoration: none;
}

.search-filters a:hover {
  color:#0065FC
}

.main-nav {
  align-items: center;
}

.search-bar {
  display: flex;
  flex-flow: nowrap row;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.search-bar i {
  background-color: #F2F2F2;
  padding: 10px 20px 10px 20px;
  border-radius: 15px 0 0 15px;
  margin: 0;
}

.search-bar input[type=search] {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  padding: 10px;
  border-right: none;
  border-left: none;
  margin: 0;
  border-top: solid #F2F2F2 1px;
  border-bottom: solid #F2F2F2 1px;
}

.search-bar input[type=search]::placeholder {
  font-family: Raleway, sans-serif;
  color: black;
}

.search-bar input[type=submit] {
  font-family: Raleway, sans-serif;
  background-color: #0065FC;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0 15px 15px 0;
}

/* SEARCH RESULTS FILTERS */

.search-filters {
  margin-bottom: 1.5em;
}

.filter {
  height: 15px;
  border: 1px solid #c5c3c3;
  border-radius: 20px;
  margin: 0.5em;
  position: relative;
  padding-left: 47px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.title-filter {
  margin-right: 15px;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.filter-list  {
  align-items: center;
}

.filter i {
 color: #0065FC;
}

.filter div {
  border-radius: 20px;
  background-color: #DEEBFF;
  height: 17px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 10px;
  left: -1px;
  top:-1px;
}

.icone-info {
  border: 1px solid #c5c3c3;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #0065FC;
  padding: 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-info i {
  font-size: 12px;
}

.info {
  margin-bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


/* CARDS GLOBAL*/

.card {
  display: block;
  box-sizing: border-box;
  padding: 0.3em;
  border-radius: 15px;
  background-color: #FFFF;
  margin-bottom: 2em;
  box-shadow: #e4e4e4 3px 3px 3px, #e4e4e4 -2px -2px 3px;
}

.img-card {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-body {
  box-sizing: border-box;
  padding: 0 0.5em 0.7em 0.5em;
}

/* FIRST SECTION & MAIN RESULTS */

.euro {
  font-weight: bold;
}

.results-header, .aside-header {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.main-results, .most-popular {
  padding: 0 2em;
  box-sizing: border-box;
  border-radius: 15px;
}

.results-container {
  margin-bottom: 4em;
}

.results-container a, .most-popular a {
  display: block;
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
  padding: 0.3em;
  margin-bottom: 2em;
}

.results-footer {
  margin-bottom: 3em;
}

.results-footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.results-footer a:hover {
  color: #8b8b8b;
}

.main-results {
  width: 67%;
}

.main-results .card {
  min-height: 200px;
  width: 31%;
}

.main-results .img-card img {
  width: 115%;
  height: max-content;
}

.main-results .img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 115px;
}

/* ASIDE MOST POPULAR */

.header-popular {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-popular i {
  font-size: 1.1em;
}

.most-popular {
  width: 30%;
}

.most-popular .card {
  height: 140px;
  display: flex;
}

.aside-img {
  margin-right: 10px;
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.aside-img img {
  height: 100%;
  width: max-content;
}

.main-aside .card-body {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.main-aside {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-bottom: 3%;
}

.main-aside div:last-child {
  margin-bottom: 0;
}

/* STARS COLORS*/

.blue-star {
  color: #0065FC;
}

.grey-star {
  color: #dddddd;
}

/* ACTIVITIES */

.main-activities-section {
  margin-bottom: 2em;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-activities-section a {
  display: block;
  color: black;
  text-decoration: none;
}

.main-activities-section .card {
  padding: 0;
}

.main-activities-section .card h3 {
  padding: 0.7em;
  margin-top: 0;
}

.tall-card {
  height: 430px;
}

.img-card-activity img {
  width: 100%;
  height: max-content;
}

.card-1 img , .card-4 img{
  height: 100%;
  width: max-content;
}

.img-card-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-1, .card-4 {
  height: 430px;
}

.card-1 .img-card-activity, .card-4 .img-card-activity {
  height: 384px;
}

.card-2 {
  height: 250px;
}

.card-2 .img-card-activity{
  height: 204px;
}

.card-3 {
  height: 152px;
}

.card-3 .img-card-activity {
  height: 105px;
}

.card-5, .card-6 {
  height: 201px;
}

.card-5 .img-card-activity, .card-6 .img-card-activity{
  height: 155px;
}

/* MAIN FOOTER */

.footer-wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.main-footer {
 background-color:#F2F2F2;
  padding: 3%;
}

.main-footer ul {
  margin-right: 15%;
}

.main-footer .list-header {
  margin-bottom: 1.2em;
  font-weight: 700;
}

.main-footer li a {
  display: block;
  color: #8b8b8b;
  text-decoration: none;
  margin-bottom: 0.5em;
}
.main-footer li a:hover {
  color: rgb(75, 75, 75);
}

 .header-activities {   
   margin-top: 2em;
  margin-bottom: 1.5em;

 }

 /* NAV MOBILE */

.nav-mobile {
  display: none;
}

.search-bar-mobile {
  display: none;
}


/*  TABLET */

@media screen and (min-width:689px) and (max-width:1024px) {

  /* HEADER */
  .search-area {
    padding-right: 2%;
    padding-left: 2%;
  }

  /*RESULTS */
  .results-container {
    flex-flow: column;
  }

  .main-wrapper {
    padding: 0;
  }

  .main-results {
    width: 100%;
    margin-bottom: 2em;
    border-radius: 0;
  }

  .main-results .card {
    width: 31%;
  }
  /* MOST POPULAR */

  .most-popular { 
    width: 100%;
    background: white;
  }

  .header-activities {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .main-aside {
    padding-top: 1em;
    flex-flow: row wrap;
    padding-bottom: 0;
  }

  .most-popular .card {
    width: 31%;
    flex-flow: column;
    height: 260px;
  }
  .most-popular .card .aside-img {
    width: 100%;
    height: 160px;
    border-radius: 10px 10px 0 0;
  }

  .most-popular .card .aside-img img{
    width: 115%;
    height: max-content;
  }

  .most-popular .card .card-body {
    padding-top: 5px;
    height: 120px;
    width: 100%;
    flex-flow: column;
    justify-content: space-between;
  }
 
  /* ACTIVITIES SECTION*/

  .activities-section {
    padding: 0 4%;
  }

  .card-1, .div-double-1, .card-4 , .div-double-2{
    width: 48%;
  }

  .card-4 {
    order: 4;
  }

  .card-1, .card-4 {
    height: 360px;
    overflow: hidden;
  }

  .card-2, .card-3 , .card-5, .card-6{
    height: 165px;
    overflow: hidden;
  }

  .card-2 .img-card-activity, .card-3 .img-card-activity, .card-5 .img-card-activity, .card-6 .img-card-activity {
    height: 117px;
  }

  .card-1 .img-card-activity , .card-4 .img-card-activity{
    height: 310px;
  }

  .img-card-activity img {
    width: 100%;
    height: max-content;
  }

  .card-1 .img-card-activity img, .card-4 .img-card-activity img {
    height: 120%;
  }

  .img-card-activity {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
/* MOBILE */

 @media screen and (max-width:688px){
  
  body {
    font-size: 16px;
    line-height: 1.2em;
  }

  h1 {
    line-height: 1.2em;
  }

  .main-header , .main-wrapper {
    padding: 0;
  }
  
  /* NAVBAR */

  .nav-items {
    margin-bottom: 1.5em;
    display: flex;
    flex-flow: wrap;
  }

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
    margin-bottom: 2em;
  }

  .search-area {
    padding-right: 4%;
    padding-left: 4%;
  }

  .logo-mobile {
    margin-bottom: 2em;
    padding: 1.5em 1.5em 0 1.5em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-mobile a {
    color:  #0065FC;
    text-decoration: none;
    font-weight: 900;
  }

  .logo-mobile img {
    display: block;
    width: 30%;
  }

  .item-mobile {
    width: 50%;
  }

  .item-mobile a { 
    width: 100%;
    text-align: center;  
    color: #8b8b8b;
    text-decoration: none;
    display: block;
    padding-bottom: 1em;
    border-bottom: 2px solid #c5c3c3;
  }

  .item-mobile a:active {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
  }

  .title-filter {
    width: 100%;
  }

/* SEARCH BAR */

  .search-bar {
    display: none;
  }

  .search-bar-mobile {
    display: block;
    display: flex;
    flex-flow: nowrap row;
    margin-bottom: 1.2em;
    margin-top: 2em;
  }

  .localisation-logo {
    background-color: #F2F2F2;
    padding: 14px;
    border-radius: 15px 0 0 15px;
    margin: 0;
    font-size: 1.1em;
  }
  
  .search-bar-mobile input[type=search] {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    border-right: none;
    border-left: none;
    margin: 0;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    width: 80%;
    height: 48px;
  }

  .search-button:hover {
    background-color:#2179fc;
 }
  
  .search-bar-mobile input[type=search]::placeholder {
    color: black;
  }
  
  .search-button {
    background-color:#0065FC;
    border: none;
    color: white;
    padding: 14px 15px; 
    border-radius: 14px;
    font-size: 1.1em;
  }

  /* FILTERS */
  .filter {
    margin-left: 0;
  }

  .info span {
    font-weight: lighter;
  }

  .icone-info {
    padding: 0 2px;
  }

  .info {
    align-items: flex-start;
  }

  /* MAIN RESULTS */

  .results-container {
    flex-flow: column nowrap;
  }

  .main-results , .most-popular{
    width: 100%;
    border-radius: 0;
    flex-flow: column;
  }

  .main-results {
    order: 2;
    background: none;
    padding: 4% 4% 0 4%;
    margin-bottom: 0;
  }

  .results-container {
    margin-bottom:0;
  }

  .results-body {
    flex-flow: column;
  }

  .results-body .card {
    width: 100%;
  }
  .results-body .card .img-card {
    height: 130px;
  }
   

  /* MOST POPULAR */

  .most-popular {
  order: 1;
  padding: 4%;
  }

  .most-popular .card {
    height: 140px;
    margin-bottom: 1em;
  }

  /* ACTIVITES */

  .main-activities-section {
    flex-flow: column;
  }
  
  .main-activities-section div {
    width: 100%;
  }

  .main-activities-section .card{
    width: 100%;
    height: 200px;
  }

  .card-2 .img-card-activity, .card-1 .img-card-activity, .card-3 .img-card-activity , .card-4 .img-card-activity, .card-5 .img-card-activity , .card-6 .img-card-activity{
    height: 150px;
    border-radius: 15px 15px 0 0;
  }


/* FOOTER */

  .footer-wrapper {
    display: block;
  }

  .main-footer {
    padding : 4% 4% 10% 4%;
  }

  .main-footer ul {
    margin-top: 2em;
  }

  .header-activities {
    margin-top: 0;
  }

  .activities-section {
    padding: 0 4% 0 4%;
  }
  
}


